<html lang="en" ng-app="mfcorrigoApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link type="text/css" rel="stylesheet" media="screen" href="maincss.css" />
	<!-- Bootstrap -->
	<link href="libs/bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="libs/bootstrap-3.1.1-dist/css/bootstrap-responsive.css" rel="stylesheet">		
	<title>MFCORRIGO</title>
</head>
<div ng-controller="LoadModel">
	<body>
		<div class="container">

		<div class="masthead header">	
			<ul class="nav nav-justified">
				<li class="active"><a href="#">Start</a></li>
				<li><a href="#/services">Tjänster</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#/projects">
						Tidigare Projekt <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" ng-controller="filterController">
						<li><a href="#/allProjects" ng-click="ChangeType('')">Alla projekt</a></li>
						<li class="divider"></li>
						<li><a href="#/buildings" ng-click="ChangeType('buildings')">Våra byggnader</a></li>
						<li><a href="#/reconstruction" ng-click="ChangeType('reconstruction')">Tillbyggnader</a></li>
						<li><a href="#/bathroom" ng-click="ChangeType('bathroom')">Badrum</a></li>
						<li><a href="#/interiours" ng-click="ChangeType('interiours')">Interiörer</a></li>
						<li><a href="#/fromConstruction" ng-click="ChangeType('fromConstruction')">Från bygget</a></li>
					</ul>
				</li>
				<li><a href="#/about">Om oss</a></li>
				<li><a href="#/contact">Kontakta oss</a></li>
			</ul>
			<div id="content">
				<div ng-view></div>
			</div>
		</div>

		<center>
			<div id="footer">
				<div class="footer">
					<p><h6><span class="copyrigt">&copy; 2013</span>
						<span class="kontaktinfo">MFcorrigo AB
							<a href="mailto:mfcorrigo@gmail.com"> mfcorrigo@gmail.com</a>
							Tel: 073 375 76 30
						</span>
					</h6></p>
				</div>
			</div>
		</center>
	</div>
	<script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="libs/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
	<script src="libs/angular-1.2.14-dist/angular.min.js"></script>
	<script src="libs/angular-1.2.14-dist/angular-route.min.js"></script>
	<script src="libs/angular-1.2.14-dist/angular-animate.min.js"></script>
	<script src="libs/angular-1.2.14-dist/angular-touch.min.js"></script>
	<script src="app.js"></script>
	<script src="js/model.js"></script>
	<script src="libs/angular-1.2.14-dist/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="app/controllers/startViewController.js"></script>
</body>
</html>
