<div class="row">
	<div class="span12">
        <h1 id = "servicesBiggestText">MFCorrigo AB</h1>
        <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
        <div class="row">
            <div ng-repeat="(index, project) in data | filter:type">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="buildingsPartey" ng-click="open(project)" onmouseover="this.style.background='#ddd'" onmouseout="this.style.background='#eee'">
                        <tr>
                            <td>
                                <div class="imageWrapper">
                                    <img ng-src="res/projects/{{project.imgrefr}}" class="buildingPic">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p id = "servicesMediumText">
                                    {{project.name}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div ng-repeat="(index, project) in favorites" ng-if="favoriteChosen()">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="buildingsPartey" ng-click="open(project)" onmouseover="this.style.background='#ddd'" onmouseout="this.style.background='#eee'">
                        <tr>
                            <td>
                                <div class="imageWrapper">
                                    <img ng-src="res/projects/{{project.imgrefr}}" class="buildingPic">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    {{project.name}}
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>