<div class="row">
	<div class="span12">
		<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4" id = "columnnr1"></div>
			<div class="col-xs-12 col-sm-6 col-md-4" id = "columnnr2"></div>
			<div class="col-xs-12 col-sm-6 col-md-4" id = "columnnr3"></div>
		</div>
	</div>
<!-- 	<div  onmouseover="this.style.background='gray';" onmouseout="this.style.background='white';">
		Jack and Jill went up the hill 
		To fetch a pail of water. 
		Jack fell down and broke his crown, 
		And Jill came tumbling after. 
	</div> -->
</div>