<!DOCTYPE HTML>
<html>
<div>
	<div class="modal-header">
		<h2 class="modalHeader">{{project.name}}</h2>
	</div>
	<div class="modal-body">
		<!-- <div class="col-xs-12 col-md-6"> -->
		<carousel interval="myInterval">
			<slide ng-repeat="image in project.images" active="slide.active">
				<img ng-src="res/projects/{{image}}" style="margin:auto;">
			</slide>
		</carousel>
		<div>
			<h2 id = "servicesMediumText">{{project.about}}</h2>
		</div>

	</div>
	<div class="modal-footer">
		<img ng-src = {{changePic1}} data-drag={{leftImgDrag}} data-drop={{leftImgDrop}} ng-model="list1" jqyoui-draggable="{animate:true}" jqyoui-droppable = "{onDrop: 'changeDragAndDrop'}" class = "modalfooterImage">
		<h2 class = "modalFooterText">{{changeTextOnDrop}}</h2>
		<img ng-src = {{changePic2}} class="modalFooterFavorites" data-drag={{righImgDrag}} data-drop={{righImgDrop}} jqyoui-draggable="{animate:true}"  ng-model="list2" jqyoui-droppable = "{onDrop: 'changeDragAndDrop'}" style='height:50px;'>
		<button class="btn btn-warning" ng-click="close()">Close</button>
	</div>
</div>
</html>
