<div id ="servicesView" class="row">
	<div class="span12" id = "backgroundOnViews">
		<h1 id = "servicesBiggestText">MFCorrigo AB</h1>
		<h1 id = "servicesBigText">Är ett byggföretag som erbjuder kompetenser från flera olika yrkesområden. Bland vår personal hittar ni:</h1>
		<h2 id = "moveInFromLeft">-Murare</h2>
		<h2 id = "moveInFromLeft">-Målare</h2>
		<h2 id = "moveInFromLeft">-Elektriker</h2>
		<h2 id = "moveInFromLeft">-Snickare</h2>
		<br>
		<br>
		<h1 id = "servicesBigText">Vi samarbetar dessutom med gräv- och vvsfirmor för att till fullo kunna erbjuda er den service just ni vill ha</h1>
	</div>
</div>